<br>
<p> Crear un nuevo artículo <%= link_to "aquí", new_article_path %></p>

<h1>Listado de artículos existentes</h1>

<table>
  <tr>
    <th>id</th>
    <th>Titulo</th>
    <th>Descripción</th>
    <th colspan="3"></th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Ver', article_path(article) %> </td>
      <td><%= link_to 'Editar', edit_article_path(article) %></td>
      <td><%= link_to "Eliminar", article_path(article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "¿Esta seguro?"
                  } %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to "Inicio", controller: "welcome" %>
<br>
