
<br>
<h2>ARTÍCULO</h2>
<br>
<p>
  <strong>Título:</strong>
    <%= @article.title %>
</p>
<br>  
<p>
  <strong>Texto:</strong>
  <%= @article.text %>
</p>
<ul>
<br>
  <li><%= link_to "Edit Article", edit_article_path(@article) %></li>
</ul>
<br>

  <%= render 'ratings/form' %>






<HR align="left" size="2" width="1420" color="black" noshade>
<br>
<h2>CALIFICACIONES</h2>
<br>
<h3><%= @article.estrellas %> <%= @article.promedio %> de 5</h3>
<p><%= @article.rating_count %> calificaciones globales</p>
<br>
<h5>5 Estrellas * * * * * <%= @article.promedio_5 %>%</h5>
<h5>4 Estrellas * * * * <%= @article.promedio_4 %>%</h5>
<h5>3 Estrellas * * * <%= @article.promedio_3 %>%</h5>
<h5>2 Estrellas * * <%= @article.promedio_2 %>%</h5>
<h5>1 Estrellas * <%= @article.promedio_1 %>%</h5>
<br> 





<HR align="left" size="2" width="1420" color="black" noshade>
<br>
<h2>COMENTARIOS</h2>
<br>
<h3>Total comentarios = <%= @article.comments.count %></h3>
<br>
<HR align="left" size="2" width="1420" color="black" noshade>


<%= render @article.comments %> 
<%= render 'comments/form' %> 

<HR align="left" size="2" width="1420" color="black" noshade>

<ul>
  <li><%= link_to 'Página anterior', articles_path %></li>
</ul>
<br><br><br>
