

<caption><h3 align="left" style="color:black">ARTÍCULO Nº <%= @article.id %> </h3></caption>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comentarios</h2>
<%= render @article.comments %> 

<h2>Ingrese un comentario:</h2>

<%= render 'comments/form' %> 


<HR align="left" size="2" width="1420" color="black" noshade>

<ul>
  <li><%= link_to "Editar", edit_article_path(@article) %></li>
  <li><%= link_to 'Página anterior', articles_path %></li>
</ul>